*{
    
    margin: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    font-family: sans-serif;
}


    @media screen  and (min-width:722px),(min-height:1614) {
body{
    display: none;
}
      
}
@media screen  and (max-width:721px),(max-height:1613) {
  #all-body{
    height:auto;
        border: 2px solid black;
    display: flex;
    flex-direction: column;
      }
    #main-1{

        box-sizing: border-box;
        height: 500px;
        
        background: linear-gradient(to left, #33ccff 50%, #ff99cc 100%);
        padding: 20px 20px 0px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      

}
h1{
    
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    Text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 3px 0px  #ED217C;
}
#textContainer{
    
        box-sizing: border-box;    
        margin:30px auto;
        padding: 20px 20px 40px 20px;
        height: 65%;
        min-width: 80%;
        font-family: 'EB Garamond', serif;
        font-size: 16px; 
        text-indent: 20px;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: linear-gradient(to left,#aa51a9  0%,#b3376e 100%);
    
}
#main-2{
    padding: 10px;
    box-sizing: border-box;
    height:600px ;
    background-color:#ED217C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#inner-main-2{
  
    box-sizing: border-box;
    overflow-y: scroll;
    margin: auto;
    margin-top: 100px;
    padding: 20px 10px;
    height: 70%;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
  background-color:  #ff99cc ;
}
#inner-main-2 p{
    font-family: 'EB Garamond', serif;
  font-size: 17px;
    padding: 20px 10px;
    text-justify: inter-word;
  text-align:justify;
}
#footer{
  font-size: 10px;
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    background-color:#33ccff ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
  #footer p{
    font-size:25px;
  }
    }
    
    
   
    
