
*{
    background-color: black;
}

@media screen  and (min-width:722px),(min-height:1614) {
    body{
        display: none;
    }}

@media screen  and (max-width:721px),(max-height:1613) {
    *{
        padding: 0px;
        padding-top: 80px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
        color: #ffffff;
        font-size: 34px;
        font-family: sans-serif;
        
        background-color:#ED217C;
        
    }
   body{
     padding: 0px;
     margin: 0px;
     
     background-color:#ED217C;
     
   }
    a{
        width: 35%;
        padding: 5px;
        border: 1px solid black;
        box-sizing: border-box;
    color:white;
    display: block;
        margin-right: 10%;
    float: right;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
  
}
a:hover{
    color: black;
}

   
h3{
  padding: 0px;
    box-sizing: border-box;
    margin: 0px 4% 0px 0px;
    width: 100%;
  text-align:left;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    transform: rotate(-30deg);
    font-size: 57px;
}
p{
    background-color: none;
    box-sizing: border-box;
    padding: 0px;
    box-sizing: border-box;
    margin: -6% 00px 0px 20%;
    width: 90%;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    transform: rotate(-30deg);
    font-size: 50px;
}
   
   
}