*{
    
    margin: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    font-family: sans-serif;
}
a{
    color: blue;
}
    @media screen  and (min-width:722px),(min-height:1614) {
body{
    display: none;
}
}
@media screen  and (max-width:721px),(max-height:1613) {
    body{
        height: 100%;
    }
    #main-1{
        box-sizing: border-box;
        height: 700px;
        
        background: linear-gradient(to left, #33ccff 50%, #ff99cc 100%);
        padding: 50px 20px 0px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
h2{
    
    font-size: 40px;
}
#textContainer{
        box-sizing: border-box;
    margin:10px ;
    padding: 20px 20px;
    min-height: 70%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to left,#aa51a9  0%,#b3376e 100%);
    padding: 50px 20px 0px 20px;
}
#main-2{
    padding: 30px;
    box-sizing: border-box;
    height: 800px;
    background-color:#ED217C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#inner-main-2{
    box-sizing: border-box;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    height: 70%;
    width: 70%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:  #ff99cc ;
}
#footer{
    padding: 30px;
    box-sizing: border-box;
    height: 113px;
    background-color:#33ccff ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
    }
    
    
   
    
