
*{
    background-color: black;
}

@media screen  and (min-width:722px),(min-height:1614) {
    body{
        display: none;
    }}

@media screen  and (max-width:721px),(max-height:1613) {
    *{
        padding: 0px;
        padding-top: 40px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
        color: #ffffff;
        font-size: 34px;
        font-family: sans-serif;
        background-color:#ED217C;
        
    }
   
    a{
    color: blue;
}
   
h3{
    box-sizing: border-box;
    margin: 0px 4% 0px 0px;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    transform: rotate(-30deg);
    font-size: 110px;
}
p{
    padding: 0px;
   /* border: 1px solid black;*/
    box-sizing: border-box;
    margin: -5% 00px 0px 13%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    transform: rotate(-30deg);
    font-size: 70px;
}
   
   
}